@font-face {
  font-family: "iconfont"; /* Project id 2346853 */
  src: url('//at.alicdn.com/t/font_2346853_uzkwhprqyr.woff2?t=1619961937231') format('woff2'),
       url('//at.alicdn.com/t/font_2346853_uzkwhprqyr.woff?t=1619961937231') format('woff'),
       url('//at.alicdn.com/t/font_2346853_uzkwhprqyr.ttf?t=1619961937231') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconshezhi:before {
  content: "\e60e";
}

.iconbanji:before {
  content: "\e80a";
}

.iconpeoples:before {
  content: "\e61c";
}

.iconic_reserve:before {
  content: "\e611";
}

.iconyudingzhongxin:before {
  content: "\e6be";
}

.iconweitijiao:before {
  content: "\e62b";
}

.iconweichuli:before {
  content: "\e640";
}

.iconweiwancheng:before {
  content: "\e817";
}

.iconweikaishi:before {
  content: "\e662";
}

.icondaifabu:before {
  content: "\e600";
}

.iconzhaorenjilu:before {
  content: "\e60d";
}

.iconshouzhi:before {
  content: "\e69b";
}

.iconshijuan:before {
  content: "\e61e";
}

.iconlishishuju:before {
  content: "\e60f";
}

.iconlishi2:before {
  content: "\e6af";
}

.iconrenyuan:before {
  content: "\e617";
}

.iconnavicon-gysfls:before {
  content: "\e67d";
}

.iconguanbi:before {
  content: "\e621";
}

.iconliushourenyuan:before {
  content: "\e614";
}

.iconqiandao:before {
  content: "\e6f1";
}

.iconrenyuandingwei:before {
  content: "\e675";
}

.iconrenyuandongtaifenbu:before {
  content: "\e6f0";
}

.iconrenyuanzaigangzaiweiyizhangtu:before {
  content: "\e62e";
}

.iconoption-copy:before {
  content: "\e60c";
}

.iconoption:before {
  content: "\e60b";
}

