<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="css/index.css" th:href="@{/static/css/index.css}">
    <style>
        html,
        body,
        #app {
            height: 100%;
            width: 100%;
            margin: 0;
        }
        body {
        overflow-x: hidden;
        overflow-y: hidden;
        }
        #nav{
            margin-left: 2px;
        }

    </style>

</head>
<!-- import Vue before Element -->
<script src="js/vue.js" th:src="@{/static/js/vue.js}"></script>
<!-- import JavaScript -->
<script src="js/index.js" th:src="@{/static/js/index.js}"></script>
<body>

    <div id="app">　　
        <el-container style="height:100%; border: 1px solid #eee">
            <el-aside width="160px" style="background-color: #545c64;overflow-x: hidden;">
                <el-col style="text-align: center;margin-top: 30px;margin-bottom: 20px;">
                    <div>
                        <el-avatar icon="el-icon-user-solid"></el-avatar>
                      </div>
                  </el-col>  

                <!-- 左导航 -->
                <el-col id="nav">
                    <el-menu default-active="courseList" class="el-menu-vertical-demo" background-color="#545c64"

                    @open="handleOpen"
                    @close="handleClose"
                    @select="handleSelect"

                        text-color="#fff" active-text-color="#ffd04b">
                        <el-menu-item index="my">
                                <i class="el-icon-location"></i>
                                <span>我的</span>
                        </el-menu-item>
                        <el-menu-item index="courseList">
                            <i class="el-icon-menu"></i>
                            <span slot="title">课程</span>
                        </el-menu-item>
                        <el-menu-item index="questionList">
                            <i class="el-icon-menu"></i>
                            <span slot="title">题库</span>
                        </el-menu-item>
                    </el-menu>
                </el-col>
                </el-row>

            </el-aside>

            <el-container>
                <!-- 右主页 -->
                <iframe name= "iFrameName" th:src="@{/courseList}" src="courseList.html" frameborder="0" style="width: 100%;height: 100%;">

                </iframe>
            </el-container>
        </el-container>
        
    </div>
</body>


<script>
    new Vue({
        el: '#app',
        data: function () {
            return { visible: false }
        },
        methods:{
      	  handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            },
            handleSelect(key){
                document.getElementsByName('iFrameName')[0].src=key;
            },
      }
    })
</script>

</html>