<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zut.interactivetools.dao.CourseDao">
    <resultMap id="queryCourseByTeacherMap" type="CourseBean">
        <id column="id" property="id"></id>
        <result column="number" property="number"></result>
        <result column="courseName" property="name"></result>
        <result column="teacherName" property="teacher.name"></result>
        <result column="termName" property="term.name"></result>
        <result column="status" property="status"></result>
        <result column="img" property="img"></result>
    </resultMap>
    <resultMap id="queryCourseInfoByIdMap" type="CourseBean">
        <result column="number" property="number"></result>
        <result column="courseName" property="name"></result>
        <result column="teacherName" property="teacher.name"></result>
        <result column="img" property="img"></result>
    </resultMap>
    <select id="queryCourseByTeacher" resultMap="queryCourseByTeacherMap">
        SELECT
            c.id,
            c.number,
            c.name courseName,
            t.name teacherName,
            term.name termName,
            c.status,
            c.img
        FROM
            course c,
            teacher t,
            term term
        WHERE
            t.id = #{teacher_id}
          AND c.teacher_id = #{teacher_id}
          AND term.id = c.term_id
          AND term.status = #{term_status}
          AND c.status = #{status}
    </select>
    <insert id="addCourseByTeacher">
        insert into course(id,number,name,teacher_id,term_id,status,img) values (#{id},#{number},#{name},#{teacher_id},#{term_id},0,#{img});
    </insert>
    <delete id="delCourseByTeacher">
        update course set status = 1 where id = #{id} and teacher_id = #{teacher_id}
    </delete>
    <update id="updateCourseByTeacher">
        update course set number = #{number},name = #{name}
        <if test="img!=null and img!=''">
            ,img = #{img}
        </if>
       where id = #{id} and teacher_id = #{teacher_id}
    </update>
    <select id="checkCourseAndTeacher" resultType="int">
        select count(1) from course where id = #{id} and teacher_id = #{teacher_id}  and status = 0
    </select>
    <select id="queryCourseInfoById" resultMap="queryCourseInfoByIdMap">
        SELECT
            c.number,
            c.name courseName,
            c.img,
            t.name teacherName
        FROM
            course c,
            teacher t
        WHERE
            t.id = c.teacher_id
          AND c.id = #{id}
          AND c.teacher_id = #{teacher_id}
    </select>
</mapper>