<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zut.interactivetools.dao.LocationDao">
    <select id="getAllLocations" resultType="LocationBean">
        select id,description,lat,lng from location where status = #{status}
    </select>
</mapper>